:root {
  --quick-b: #003B75;
  --quick-b_3rd: #7288A4;
  --white: #FFFFFF;
  --bg01: #F0F0F0;
  --bg02: #EFEFEF;
  --sub-01: #535659;
  --sab-02: #777D83;
}

body {
  font-family: Noto Sans JP;
}

h1,
a {
  color: var(--quick-b);
}

a {
  display: inline-block;
}

a img {
  display: block;
}

h1 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 26px;
}

h1 .large-icon {
  font-size: 36px;
}

/****************************************/
/* header */
.upper-header ul,
.middle-header ul,
.lower-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

/********************/
/* upper-header */
.upper-header {
  color: var(--white);
  background: var(--quick-b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76px;
  padding-top: 4px;
}

/********************/
/* middle-header */
.middle-header {
  background-color: var(--quick-b_3rd);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  white-space: nowrap;
}

.middle-header a {
  color: var(--white);
  text-decoration: none;
}

.middle-header li {
  padding: 0 16px;
  display: flex;
}

/********************/
/* lower-header */
.lower-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg02);
}

/**********/
/* lower-header--upper */
.lower-header--upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1080px;
}

.lower-header--upper ul {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

/**********/
/* lower-header--lower */
.lower-header--lower {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  padding-bottom: 20px;
  gap: 12px;
}

.lower-header--lower ul {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.lower-header--lower li {
  font-size: 14px;
}

/****************************************/
/* form & inquiry */
form,
.inquiry li {
  color: var(--sub-01);
  border-radius: 20px;
  background: var(--bg01);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  flex-shrink: 0;
}

form {
  width: 260px;
  margin-left: 44px;
}

.inquiry li {
  width: 140px;
}

.inquiry a {
  text-decoration: none;
  color: var(--sub-01);
}

.inquiry li:hover {
  background: var(--white);
}

.search-form {
  position: relative;
}

.search-label {
  position: relative;
  display: flex;
  align-items: center;
}

#search-input {
  padding-right: 14px;
}

.search-icon {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

input,
button {
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  outline: none;
}

button {
  padding-top: 4px;
}

/****************************************/
/* others */

small {
  font-size: 14px;
  padding: 0 8px
}

small a {
  text-decoration: none;
  color: var(--white);
}

small a:hover {
  text-decoration: underline;
}

.back-to-old-layout {
  margin: 0 32px;
}

.logo-header {
  width: auto;
  height: 25px;
}