#container {
    background-color: #DCDCDC;
}

#header,
.data {
    background-color: #FFFFFF;
}

#lxip\:Date,
#lxip\:Time,
.name-text,
.element-data-text {
    color: #303030;
}

.element-name-text {
    color: #4E4E4E;
}

.element>.element-name>.element-name-text {
    background: #FFFFFF;
}

.element .element-name-text {
    border: 2px solid rgba(0, 0, 0, .15);
}

.name-data-text {
    color: #303030;
}