#container {
    background-color: #101010;
}

#header,
.data {
    background-color: #303030;
}

#lxip\:Date,
#lxip\:Time,
.name-text,
.element-data-text {
    color: #FFFFFF;
}

.element-name-text,
.element-date-text,
.footer-data-text {
    color: #C5C5C5;
}

.element>.element-name>.element-name-text {
    background: #303030;
}

.element .element-name-text {
    border: 2px solid rgba(255, 255, 255, .25);
}