#main {
    flex-flow: row wrap;
}

.data {
    width: calc(100% - 124px);
    padding: 0 60px;
}

.direction {
    width: 50%;
}

.element-data-text {
    font-size: 4.75vh;
    padding-top: 2%;
}

.element-date-text {
    margin-top: 4px;
    margin-left: 34px;
    font-size: 1.5vh;
}

.name-data-text {
    font-size: 4vh;
    padding-top: 2%;
}