#container {
    background-color: #000000;
}

#header,
.data {
    background-color: #002266;
}

.element-data-text {
    font-weight: bold;
}

.name-data-text {
    color: #FFCC33;
    font-weight: bold;
}