#container {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
/*
#footer {
  background: rgba(255, 0, 0, 0.175);
}
#header {
  background: rgba(255, 0, 0, 0.175);
}
#main {
  background: rgba(255, 255, 255, 0.175);
}
.check {
  display: block;
  opacity: 0.5;
}
.data:nth-child(2n) {
  background: rgba(255, 0, 0, 0.175);
}
.element:nth-child(2) {
  background: rgba(255, 0, 0, 0.175);
}
.element:nth-child(3) {
  background: rgba(0, 0, 0, 0.175);
}
.element-data, .valu-data {
  background: rgba(255, 255, 255, 0.175);
}
.element-dlcm {
  background: rgba(255, 0, 0, 0.175);
}
.element-name, .comp-data {
  background: rgba(0, 0, 0, 0.175);
}
.element-time {
  background: rgba(0, 0, 0, 0.175);
}
.name:nth-child(2n) {
  background: rgba(255, 255, 0, 0.175);
}
.name-text {
  background: rgba(0, 0, 0, 0.175);
}
.ranking-body:nth-child(2n) {
  background: rgba(255, 255, 0, 0.175);
}