/*****************/
/**** 1,2行目 ****/

.data {
    height: 15%;
}

.name-data-text {
    font-size: 7vh;
}

.element-data-text {
    font-size: 8.5vh;
}

/*******************/
/**** 3行目以降 ****/

.data:nth-child(n+3) {
    height: 10%;
}

.data:nth-child(n+3) .name-data-text {
    font-size: 5vh;
}

.data:nth-child(n+3) .element-data-text {
    font-size: 6vh;
}