.data:nth-child(1),
.data:nth-child(2),
.data:nth-child(3),
.data:nth-child(4) {
    height: 10%;
}

.data:nth-child(5) {
    height: 70%;
    background: black;
    overflow: hidden;
    flex-direction: column;
}

.data img {
    width: 75%;
    height: 120%;
    margin-top: -7.25%;
}

.chart-mask {
    margin-right: 42.5%;
    width: 100%;
    height: 9.5%;
    background: black;
    z-index: 10000;
    margin-top: 0%;
}

.data:nth-child(1) .title-text {
    font-size: 5vh;
    padding-top: 3.0%;
    visibility: visible;
}