.data:nth-child(1) {
    height: 8%;
}

.data:nth-child(2) {
    height: 24%;
}

.data:nth-child(3) {
    height: 68%;
}

.data,
.element,
.element-data {
    justify-content: flex-start;
    align-items: center;
}

.element-data-text {
    font-size: 4vh;
    margin-left: 0;
    padding: 40px;
    line-height: 6vh;
    text-align: justify;
    white-space: normal;
    letter-spacing: .25vh;
}

.data:nth-child(3) .element-data {
    align-items: flex-start;
}

.data:nth-child(2) .element-data-text {
    font-size: 6vh;
    font-weight: bold;
    line-height: 7vh;
    padding: 40px;
}

.title-text {
    font-size: 4vh;
    visibility: visible;
    margin-top: 3%;
    margin-left: 0;
    padding-left: 40px;
    letter-spacing: .75vh;
}

@media screen and (max-width:1044px) {
    .element-data p {
        transform: scale(0.75, 1);
        transform-origin: left center;
        margin-right: -33.25%;
    }
    .title-text {
        transform: scale(0.75, 1);
        transform-origin: left center;
    }
}