/* No、コードなど各項目タイトルエリア */
.data:nth-child(2) {
    height: 50%;
}

.data:nth-child(2) .element-data-text {
    font-size: 28px;
}

.data:nth-child(n+1) .element-name {
    display: none;
}

.data:nth-child(2) .element-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.element:nth-child(1) {
    width: 25%;
}

.element:nth-child(2) {
    width: 40%;
}

.element:nth-child(3) {
    width: 70%;
}

.data:nth-child(2)>.element:nth-child(1)>.element-name,
.element:nth-child(1)>.element-data {
    justify-content: center;
}

/* コードと銘柄名は左寄せ */

.data:nth-child(2)>.element:nth-child(2)>.element-name,
.data:nth-child(2)>.element:nth-child(3)>.element-name,
.element:nth-child(2)>.element-data,
.element:nth-child(3)>.element-data {
    justify-content: flex-start;
}

.element .element-name-text {
    border: none;
    font-size: 2vh;
    font-weight: normal;
    border-radius: 0;
    margin: 0;
    padding: 0 3.75%;
}

.element-data-text {
    font-size: 5vh;
    font-weight: normal;
    margin: 0;
    padding: 0 3.75%;
}

.title-text {
    font-size: 4vh;
    visibility: visible;
    margin-top: 1%;
}

/* 文字寄席の方向定義 */
.direction>.data:nth-child(n+2)>.element:nth-child(3) p {
    transform-origin: center left;
}

#lxip\:Date,
#lxip\:Time,
img,
.direction>.data:nth-child(n+2)>.element:nth-child(4) p,
.direction>.data:nth-child(n+2)>.element:nth-child(5) p,
.direction>.data:nth-child(n+2)>.element:nth-child(6) p {
    transform-origin: center right;
}