.data {
    width: calc(100% - 68px);
    padding: 0 32px;
}

.element-data-text {
    font-weight: normal;
}

.name {
    width: 125%;
}

.name-data-text {
    font-size: 3.15vh;
}

.direction :nth-child(1)>.element {
    flex-direction: row;
}

.direction :nth-child(1)>.element>.element-name {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.direction :nth-child(1)>.element>.element-data,
.direction :nth-child(1)>.element>.element-name:nth-child(3) {
    display: none;
}

.direction :nth-child(n+2)>.element>.element-name>.element-name-text {
    display: none;
}

.element .element-name-text {
    border: none;
    border-radius: none;
    font-size: 2vh;
    font-weight: normal;
    margin: 0;
    padding: 8% 0 0 0;
}

.element-data-text {
    font-size: 3.15vh;
    padding-right: 0;
}

.element-name-text,
.name-data-text {
    padding-left: 0;
}

/* XGA対応 */

.element-name-text{
    transform-origin: center right;
}