.element {
    height: 98%;
    overflow: hidden;
}

.element-data {
    justify-content: flex-start;
}

.element-data-text {
    white-space: normal;
    line-height: 1.25;
    font-size: 6vh;
    text-align: left;
    margin-left: 0;
}

.element-name {
    display: none;
}

.name {
    width: 16%;
    padding-left: 3.75%;
}

.name-data-text {
    text-align: right;
}

.element-data p {
    transform-origin: center left;
}


/* XGA対応 */

@media screen and (max-width:1024px) {
    .element-data-text {
        margin-right: -33.25%;
    }
}