.data {
    flex-direction: column;
}

.direction {
    flex-direction: row;
}

.element-data {
    height: 125%;
}

.element:nth-child(2) .element-data {
    height: 50%;
}

.element:nth-child(3) .element-data {
    align-items: flex-start;
}

.element-data-text {
    font-size: 5vh;
}

.element-name {
    display: none;
}

.name-data {
    align-items: flex-end;
    height: 125%;
}

.name-data-text {
    font-size: 3.5vh;
}