/* Transform(変倍用CSS) */
/* 
対象のテキストBOXを変倍
各htmlの.name-textクラスに標準で.scaleX100を併記
数値を1～100の間で指定して要素の変倍が可能
*/
/****************************************/
/***** Common *****/
.scaleX1, .scaleX2, .scaleX3, .scaleX4, .scaleX5, .scaleX6, .scaleX7, .scaleX8, .scaleX9, .scaleX10, .scaleX11, .scaleX12, .scaleX13, .scaleX14, .scaleX15, .scaleX16, .scaleX17, .scaleX18, .scaleX19, .scaleX20, .scaleX21, .scaleX22, .scaleX23, .scaleX24, .scaleX25, .scaleX26, .scaleX27, .scaleX28, .scaleX29, .scaleX30, .scaleX31, .scaleX32, .scaleX33, .scaleX34, .scaleX35, .scaleX36, .scaleX37, .scaleX38, .scaleX39, .scaleX40, .scaleX41, .scaleX42, .scaleX43, .scaleX44, .scaleX45, .scaleX46, .scaleX47, .scaleX48, .scaleX49, .scaleX50, .scaleX51, .scaleX52, .scaleX53, .scaleX54, .scaleX55, .scaleX56, .scaleX57, .scaleX58, .scaleX59, .scaleX60, .scaleX61, .scaleX62, .scaleX63, .scaleX64, .scaleX65, .scaleX66, .scaleX67, .scaleX68, .scaleX69, .scaleX70, .scaleX71, .scaleX72, .scaleX73, .scaleX74, .scaleX75, .scaleX76, .scaleX77, .scaleX78, .scaleX79, .scaleX80, .scaleX81, .scaleX82, .scaleX83, .scaleX84, .scaleX85, .scaleX86, .scaleX87, .scaleX88, .scaleX89, .scaleX90, .scaleX91, .scaleX92, .scaleX93, .scaleX94, .scaleX95, .scaleX96, .scaleX97, .scaleX98, .scaleX99, .scaleX100, .scaleY1, .scaleY2, .scaleY3, .scaleY4, .scaleY5, .scaleY6, .scaleY7, .scaleY8, .scaleY9, .scaleY10, .scaleY11, .scaleY12, .scaleY13, .scaleY14, .scaleY15, .scaleY16, .scaleY17, .scaleY18, .scaleY19, .scaleY20, .scaleY21, .scaleY22, .scaleY23, .scaleY24, .scaleY25, .scaleY26, .scaleY27, .scaleY28, .scaleY29, .scaleY30, .scaleY31, .scaleY32, .scaleY33, .scaleY34, .scaleY35, .scaleY36, .scaleY37, .scaleY38, .scaleY39, .scaleY40, .scaleY41, .scaleY42, .scaleY43, .scaleY44, .scaleY45, .scaleY46, .scaleY47, .scaleY48, .scaleY49, .scaleY50, .scaleY51, .scaleY52, .scaleY53, .scaleY54, .scaleY55, .scaleY56, .scaleY57, .scaleY58, .scaleY59, .scaleY60, .scaleY61, .scaleY62, .scaleY63, .scaleY64, .scaleY65, .scaleY66, .scaleY67, .scaleY68, .scaleY69, .scaleY70, .scaleY71, .scaleY72, .scaleY73, .scaleY74, .scaleY75, .scaleY76, .scaleY77, .scaleY78, .scaleY79, .scaleY80, .scaleY81, .scaleY82, .scaleY83, .scaleY84, .scaleY85, .scaleY86, .scaleY87, .scaleY88, .scaleY89, .scaleY90, .scaleY91, .scaleY92, .scaleY93, .scaleY94, .scaleY95, .scaleY96, .scaleY97, .scaleY98, .scaleY99, .scaleY100, .scaleXY1, .scaleXY2, .scaleXY3, .scaleXY4, .scaleXY5, .scaleXY6, .scaleXY7, .scaleXY8, .scaleXY9, .scaleXY10, .scaleXY11, .scaleXY12, .scaleXY13, .scaleXY14, .scaleXY15, .scaleXY16, .scaleXY17, .scaleXY18, .scaleXY19, .scaleXY20, .scaleXY21, .scaleXY22, .scaleXY23, .scaleXY24, .scaleXY25, .scaleXY26, .scaleXY27, .scaleXY28, .scaleXY29, .scaleXY30, .scaleXY31, .scaleXY32, .scaleXY33, .scaleXY34, .scaleXY35, .scaleXY36, .scaleXY37, .scaleXY38, .scaleXY39, .scaleXY40, .scaleXY41, .scaleXY42, .scaleXY43, .scaleXY44, .scaleXY45, .scaleXY46, .scaleXY47, .scaleXY48, .scaleXY49, .scaleXY50, .scaleXY51, .scaleXY52, .scaleXY53, .scaleXY54, .scaleXY55, .scaleXY56, .scaleXY57, .scaleXY58, .scaleXY59, .scaleXY60, .scaleXY61, .scaleXY62, .scaleXY63, .scaleXY64, .scaleXY65, .scaleXY66, .scaleXY67, .scaleXY68, .scaleXY69, .scaleXY70, .scaleXY71, .scaleXY72, .scaleXY73, .scaleXY74, .scaleXY75, .scaleXY76, .scaleXY77, .scaleXY78, .scaleXY79, .scaleXY80, .scaleXY81, .scaleXY82, .scaleXY83, .scaleXY84, .scaleXY85, .scaleXY86, .scaleXY87, .scaleXY88, .scaleXY89, .scaleXY90, .scaleXY91, .scaleXY92, .scaleXY93, .scaleXY94, .scaleXY95, .scaleXY96, .scaleXY97, .scaleXY98, .scaleXY99, .scaleXY100 {
  transform-origin: center left; /* 縦中央起点 横左起点 でスケール */
}
/****************************************/
/***** Transform Origin *****/
.scaleBottomCenter {
  transform-origin: bottom center; /* 縦下起点 横中央起点 でスケール */
}
.scaleBottomLeft {
  transform-origin: bottom left; /* 縦下起点 横左起点 でスケール */
}
.scaleBottomRight {
  transform-origin: bottom right; /* 縦下起点 横右起点 でスケール */
}
.scaleCenterCenter {
  transform-origin: center center; /* 縦中央起点 横中央起点 でスケール */
}
.scaleCenterLeft {
  transform-origin: center left; /* 縦中央起点 横左起点 でスケール */
}
.scaleCenterRight {
  transform-origin: center right; /* 縦中央起点 横右起点 でスケール */
}
.scaleTopCenter {
  transform-origin: top center; /* 縦上起点 横中央起点 でスケール */
}
.scaleTopLeft {
  transform-origin: top left; /* 縦上起点 横左起点 でスケール */
}
.scaleTopRight {
  transform-origin: top right; /* 縦上起点 横右起点 でスケール */
}
/****************************************/
/***** ScaleX *****/
.scaleX1 {
  transform: scaleX(0.01);
}
.scaleX2 {
  transform: scaleX(0.02);
}
.scaleX3 {
  transform: scaleX(0.03);
}
.scaleX4 {
  transform: scaleX(0.04);
}
.scaleX5 {
  transform: scaleX(0.05);
}
.scaleX6 {
  transform: scaleX(0.06);
}
.scaleX7 {
  transform: scaleX(0.07);
}
.scaleX8 {
  transform: scaleX(0.08);
}
.scaleX9 {
  transform: scaleX(0.09);
}
.scaleX10 {
  transform: scaleX(0.1);
}
.scaleX11 {
  transform: scaleX(0.11);
}
.scaleX12 {
  transform: scaleX(0.12);
}
.scaleX13 {
  transform: scaleX(0.13);
}
.scaleX14 {
  transform: scaleX(0.14);
}
.scaleX15 {
  transform: scaleX(0.15);
}
.scaleX16 {
  transform: scaleX(0.16);
}
.scaleX17 {
  transform: scaleX(0.17);
}
.scaleX18 {
  transform: scaleX(0.18);
}
.scaleX19 {
  transform: scaleX(0.19);
}
.scaleX20 {
  transform: scaleX(0.2);
}
.scaleX21 {
  transform: scaleX(0.21);
}
.scaleX22 {
  transform: scaleX(0.22);
}
.scaleX23 {
  transform: scaleX(0.23);
}
.scaleX24 {
  transform: scaleX(0.24);
}
.scaleX25 {
  transform: scaleX(0.25);
}
.scaleX26 {
  transform: scaleX(0.26);
}
.scaleX27 {
  transform: scaleX(0.27);
}
.scaleX28 {
  transform: scaleX(0.28);
}
.scaleX29 {
  transform: scaleX(0.29);
}
.scaleX30 {
  transform: scaleX(0.3);
}
.scaleX31 {
  transform: scaleX(0.31);
}
.scaleX32 {
  transform: scaleX(0.32);
}
.scaleX33 {
  transform: scaleX(0.33);
}
.scaleX34 {
  transform: scaleX(0.34);
}
.scaleX35 {
  transform: scaleX(0.35);
}
.scaleX36 {
  transform: scaleX(0.36);
}
.scaleX37 {
  transform: scaleX(0.37);
}
.scaleX38 {
  transform: scaleX(0.38);
}
.scaleX39 {
  transform: scaleX(0.39);
}
.scaleX40 {
  transform: scaleX(0.4);
}
.scaleX41 {
  transform: scaleX(0.41);
}
.scaleX42 {
  transform: scaleX(0.42);
}
.scaleX43 {
  transform: scaleX(0.43);
}
.scaleX44 {
  transform: scaleX(0.44);
}
.scaleX45 {
  transform: scaleX(0.45);
}
.scaleX46 {
  transform: scaleX(0.46);
}
.scaleX47 {
  transform: scaleX(0.47);
}
.scaleX48 {
  transform: scaleX(0.48);
}
.scaleX49 {
  transform: scaleX(0.49);
}
.scaleX50 {
  transform: scaleX(0.5);
}
.scaleX51 {
  transform: scaleX(0.51);
}
.scaleX52 {
  transform: scaleX(0.52);
}
.scaleX53 {
  transform: scaleX(0.53);
}
.scaleX54 {
  transform: scaleX(0.54);
}
.scaleX55 {
  transform: scaleX(0.55);
}
.scaleX56 {
  transform: scaleX(0.56);
}
.scaleX57 {
  transform: scaleX(0.57);
}
.scaleX58 {
  transform: scaleX(0.58);
}
.scaleX59 {
  transform: scaleX(0.59);
}
.scaleX60 {
  transform: scaleX(0.6);
}
.scaleX61 {
  transform: scaleX(0.61);
}
.scaleX62 {
  transform: scaleX(0.62);
}
.scaleX63 {
  transform: scaleX(0.63);
}
.scaleX64 {
  transform: scaleX(0.64);
}
.scaleX65 {
  transform: scaleX(0.65);
}
.scaleX66 {
  transform: scaleX(0.66);
}
.scaleX67 {
  transform: scaleX(0.67);
}
.scaleX68 {
  transform: scaleX(0.68);
}
.scaleX69 {
  transform: scaleX(0.69);
}
.scaleX70 {
  transform: scaleX(0.7);
}
.scaleX71 {
  transform: scaleX(0.71);
}
.scaleX72 {
  transform: scaleX(0.72);
}
.scaleX73 {
  transform: scaleX(0.73);
}
.scaleX74 {
  transform: scaleX(0.74);
}
.scaleX75 {
  transform: scaleX(0.75);
}
.scaleX76 {
  transform: scaleX(0.76);
}
.scaleX77 {
  transform: scaleX(0.77);
}
.scaleX78 {
  transform: scaleX(0.78);
}
.scaleX79 {
  transform: scaleX(0.79);
}
.scaleX80 {
  transform: scaleX(0.8);
}
.scaleX81 {
  transform: scaleX(0.81);
}
.scaleX82 {
  transform: scaleX(0.82);
}
.scaleX83 {
  transform: scaleX(0.83);
}
.scaleX84 {
  transform: scaleX(0.84);
}
.scaleX85 {
  transform: scaleX(0.85);
}
.scaleX86 {
  transform: scaleX(0.86);
}
.scaleX87 {
  transform: scaleX(0.87);
}
.scaleX88 {
  transform: scaleX(0.88);
}
.scaleX89 {
  transform: scaleX(0.89);
}
.scaleX90 {
  transform: scaleX(0.9);
}
.scaleX91 {
  transform: scaleX(0.91);
}
.scaleX92 {
  transform: scaleX(0.92);
}
.scaleX93 {
  transform: scaleX(0.93);
}
.scaleX94 {
  transform: scaleX(0.94);
}
.scaleX95 {
  transform: scaleX(0.95);
}
.scaleX96 {
  transform: scaleX(0.96);
}
.scaleX97 {
  transform: scaleX(0.97);
}
.scaleX98 {
  transform: scaleX(0.98);
}
.scaleX99 {
  transform: scaleX(0.99);
}
.scaleX100 {
  transform: scaleX(1.00);
}
/****************************************/
/***** scaleY *****/
.scaleY1 {
  transform: scaleY(0.01);
}
.scaleY2 {
  transform: scaleY(0.02);
}
.scaleY3 {
  transform: scaleY(0.03);
}
.scaleY4 {
  transform: scaleY(0.04);
}
.scaleY5 {
  transform: scaleY(0.05);
}
.scaleY6 {
  transform: scaleY(0.06);
}
.scaleY7 {
  transform: scaleY(0.07);
}
.scaleY8 {
  transform: scaleY(0.08);
}
.scaleY9 {
  transform: scaleY(0.09);
}
.scaleY10 {
  transform: scaleY(0.1);
}
.scaleY11 {
  transform: scaleY(0.11);
}
.scaleY12 {
  transform: scaleY(0.12);
}
.scaleY13 {
  transform: scaleY(0.13);
}
.scaleY14 {
  transform: scaleY(0.14);
}
.scaleY15 {
  transform: scaleY(0.15);
}
.scaleY16 {
  transform: scaleY(0.16);
}
.scaleY17 {
  transform: scaleY(0.17);
}
.scaleY18 {
  transform: scaleY(0.18);
}
.scaleY19 {
  transform: scaleY(0.19);
}
.scaleY20 {
  transform: scaleY(0.2);
}
.scaleY21 {
  transform: scaleY(0.21);
}
.scaleY22 {
  transform: scaleY(0.22);
}
.scaleY23 {
  transform: scaleY(0.23);
}
.scaleY24 {
  transform: scaleY(0.24);
}
.scaleY25 {
  transform: scaleY(0.25);
}
.scaleY26 {
  transform: scaleY(0.26);
}
.scaleY27 {
  transform: scaleY(0.27);
}
.scaleY28 {
  transform: scaleY(0.28);
}
.scaleY29 {
  transform: scaleY(0.29);
}
.scaleY30 {
  transform: scaleY(0.3);
}
.scaleY31 {
  transform: scaleY(0.31);
}
.scaleY32 {
  transform: scaleY(0.32);
}
.scaleY33 {
  transform: scaleY(0.33);
}
.scaleY34 {
  transform: scaleY(0.34);
}
.scaleY35 {
  transform: scaleY(0.35);
}
.scaleY36 {
  transform: scaleY(0.36);
}
.scaleY37 {
  transform: scaleY(0.37);
}
.scaleY38 {
  transform: scaleY(0.38);
}
.scaleY39 {
  transform: scaleY(0.39);
}
.scaleY40 {
  transform: scaleY(0.4);
}
.scaleY41 {
  transform: scaleY(0.41);
}
.scaleY42 {
  transform: scaleY(0.42);
}
.scaleY43 {
  transform: scaleY(0.43);
}
.scaleY44 {
  transform: scaleY(0.44);
}
.scaleY45 {
  transform: scaleY(0.45);
}
.scaleY46 {
  transform: scaleY(0.46);
}
.scaleY47 {
  transform: scaleY(0.47);
}
.scaleY48 {
  transform: scaleY(0.48);
}
.scaleY49 {
  transform: scaleY(0.49);
}
.scaleY50 {
  transform: scaleY(0.5);
}
.scaleY51 {
  transform: scaleY(0.51);
}
.scaleY52 {
  transform: scaleY(0.52);
}
.scaleY53 {
  transform: scaleY(0.53);
}
.scaleY54 {
  transform: scaleY(0.54);
}
.scaleY55 {
  transform: scaleY(0.55);
}
.scaleY56 {
  transform: scaleY(0.56);
}
.scaleY57 {
  transform: scaleY(0.57);
}
.scaleY58 {
  transform: scaleY(0.58);
}
.scaleY59 {
  transform: scaleY(0.59);
}
.scaleY60 {
  transform: scaleY(0.6);
}
.scaleY61 {
  transform: scaleY(0.61);
}
.scaleY62 {
  transform: scaleY(0.62);
}
.scaleY63 {
  transform: scaleY(0.63);
}
.scaleY64 {
  transform: scaleY(0.64);
}
.scaleY65 {
  transform: scaleY(0.65);
}
.scaleY66 {
  transform: scaleY(0.66);
}
.scaleY67 {
  transform: scaleY(0.67);
}
.scaleY68 {
  transform: scaleY(0.68);
}
.scaleY69 {
  transform: scaleY(0.69);
}
.scaleY70 {
  transform: scaleY(0.7);
}
.scaleY71 {
  transform: scaleY(0.71);
}
.scaleY72 {
  transform: scaleY(0.72);
}
.scaleY73 {
  transform: scaleY(0.73);
}
.scaleY74 {
  transform: scaleY(0.74);
}
.scaleY75 {
  transform: scaleY(0.75);
}
.scaleY76 {
  transform: scaleY(0.76);
}
.scaleY77 {
  transform: scaleY(0.77);
}
.scaleY78 {
  transform: scaleY(0.78);
}
.scaleY79 {
  transform: scaleY(0.79);
}
.scaleY80 {
  transform: scaleY(0.8);
}
.scaleY81 {
  transform: scaleY(0.81);
}
.scaleY82 {
  transform: scaleY(0.82);
}
.scaleY83 {
  transform: scaleY(0.83);
}
.scaleY84 {
  transform: scaleY(0.84);
}
.scaleY85 {
  transform: scaleY(0.85);
}
.scaleY86 {
  transform: scaleY(0.86);
}
.scaleY87 {
  transform: scaleY(0.87);
}
.scaleY88 {
  transform: scaleY(0.88);
}
.scaleY89 {
  transform: scaleY(0.89);
}
.scaleY90 {
  transform: scaleY(0.9);
}
.scaleY91 {
  transform: scaleY(0.91);
}
.scaleY92 {
  transform: scaleY(0.92);
}
.scaleY93 {
  transform: scaleY(0.93);
}
.scaleY94 {
  transform: scaleY(0.94);
}
.scaleY95 {
  transform: scaleY(0.95);
}
.scaleY96 {
  transform: scaleY(0.96);
}
.scaleY97 {
  transform: scaleY(0.97);
}
.scaleY98 {
  transform: scaleY(0.98);
}
.scaleY99 {
  transform: scaleY(0.99);
}
.scaleY100 {
  transform: scaleY(1.00);
}
/****************************************/
/***** scaleXY *****/
.scaleXY1 {
  transform: scale(0.01);
}
.scaleXY2 {
  transform: scale(0.02);
}
.scaleXY3 {
  transform: scale(0.03);
}
.scaleXY4 {
  transform: scale(0.04);
}
.scaleXY5 {
  transform: scale(0.05);
}
.scaleXY6 {
  transform: scale(0.06);
}
.scaleXY7 {
  transform: scale(0.07);
}
.scaleXY8 {
  transform: scale(0.08);
}
.scaleXY9 {
  transform: scale(0.09);
}
.scaleXY10 {
  transform: scale(0.1);
}
.scaleXY11 {
  transform: scale(0.11);
}
.scaleXY12 {
  transform: scale(0.12);
}
.scaleXY13 {
  transform: scale(0.13);
}
.scaleXY14 {
  transform: scale(0.14);
}
.scaleXY15 {
  transform: scale(0.15);
}
.scaleXY16 {
  transform: scale(0.16);
}
.scaleXY17 {
  transform: scale(0.17);
}
.scaleXY18 {
  transform: scale(0.18);
}
.scaleXY19 {
  transform: scale(0.19);
}
.scaleXY20 {
  transform: scale(0.2);
}
.scaleXY21 {
  transform: scale(0.21);
}
.scaleXY22 {
  transform: scale(0.22);
}
.scaleXY23 {
  transform: scale(0.23);
}
.scaleXY24 {
  transform: scale(0.24);
}
.scaleXY25 {
  transform: scale(0.25);
}
.scaleXY26 {
  transform: scale(0.26);
}
.scaleXY27 {
  transform: scale(0.27);
}
.scaleXY28 {
  transform: scale(0.28);
}
.scaleXY29 {
  transform: scale(0.29);
}
.scaleXY30 {
  transform: scale(0.3);
}
.scaleXY31 {
  transform: scale(0.31);
}
.scaleXY32 {
  transform: scale(0.32);
}
.scaleXY33 {
  transform: scale(0.33);
}
.scaleXY34 {
  transform: scale(0.34);
}
.scaleXY35 {
  transform: scale(0.35);
}
.scaleXY36 {
  transform: scale(0.36);
}
.scaleXY37 {
  transform: scale(0.37);
}
.scaleXY38 {
  transform: scale(0.38);
}
.scaleXY39 {
  transform: scale(0.39);
}
.scaleXY40 {
  transform: scale(0.4);
}
.scaleXY41 {
  transform: scale(0.41);
}
.scaleXY42 {
  transform: scale(0.42);
}
.scaleXY43 {
  transform: scale(0.43);
}
.scaleXY44 {
  transform: scale(0.44);
}
.scaleXY45 {
  transform: scale(0.45);
}
.scaleXY46 {
  transform: scale(0.46);
}
.scaleXY47 {
  transform: scale(0.47);
}
.scaleXY48 {
  transform: scale(0.48);
}
.scaleXY49 {
  transform: scale(0.49);
}
.scaleXY50 {
  transform: scale(0.5);
}
.scaleXY51 {
  transform: scale(0.51);
}
.scaleXY52 {
  transform: scale(0.52);
}
.scaleXY53 {
  transform: scale(0.53);
}
.scaleXY54 {
  transform: scale(0.54);
}
.scaleXY55 {
  transform: scale(0.55);
}
.scaleXY56 {
  transform: scale(0.56);
}
.scaleXY57 {
  transform: scale(0.57);
}
.scaleXY58 {
  transform: scale(0.58);
}
.scaleXY59 {
  transform: scale(0.59);
}
.scaleXY60 {
  transform: scale(0.6);
}
.scaleXY61 {
  transform: scale(0.61);
}
.scaleXY62 {
  transform: scale(0.62);
}
.scaleXY63 {
  transform: scale(0.63);
}
.scaleXY64 {
  transform: scale(0.64);
}
.scaleXY65 {
  transform: scale(0.65);
}
.scaleXY66 {
  transform: scale(0.66);
}
.scaleXY67 {
  transform: scale(0.67);
}
.scaleXY68 {
  transform: scale(0.68);
}
.scaleXY69 {
  transform: scale(0.69);
}
.scaleXY70 {
  transform: scale(0.7);
}
.scaleXY71 {
  transform: scale(0.71);
}
.scaleXY72 {
  transform: scale(0.72);
}
.scaleXY73 {
  transform: scale(0.73);
}
.scaleXY74 {
  transform: scale(0.74);
}
.scaleXY75 {
  transform: scale(0.75);
}
.scaleXY76 {
  transform: scale(0.76);
}
.scaleXY77 {
  transform: scale(0.77);
}
.scaleXY78 {
  transform: scale(0.78);
}
.scaleXY79 {
  transform: scale(0.79);
}
.scaleXY80 {
  transform: scale(0.8);
}
.scaleXY81 {
  transform: scale(0.81);
}
.scaleXY82 {
  transform: scale(0.82);
}
.scaleXY83 {
  transform: scale(0.83);
}
.scaleXY84 {
  transform: scale(0.84);
}
.scaleXY85 {
  transform: scale(0.85);
}
.scaleXY86 {
  transform: scale(0.86);
}
.scaleXY87 {
  transform: scale(0.87);
}
.scaleXY88 {
  transform: scale(0.88);
}
.scaleXY89 {
  transform: scale(0.89);
}
.scaleXY90 {
  transform: scale(0.9);
}
.scaleXY91 {
  transform: scale(0.91);
}
.scaleXY92 {
  transform: scale(0.92);
}
.scaleXY93 {
  transform: scale(0.93);
}
.scaleXY94 {
  transform: scale(0.94);
}
.scaleXY95 {
  transform: scale(0.95);
}
.scaleXY96 {
  transform: scale(0.96);
}
.scaleXY97 {
  transform: scale(0.97);
}
.scaleXY98 {
  transform: scale(0.98);
}
.scaleXY99 {
  transform: scale(0.99);
}
.scaleXY100 {
  transform: scale(1.00);
}