/* 2021.01.18 add class .time-data, .time-data-text */

body {
    background: #000000;
    color: #ffffff;
    font-family: Arial, メイリオ;
    font-weight: normal;
    overflow: hidden;
}

div,
p {
    border: none;
    line-height: 1;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

img {
    width: 100%;
    height: 100%;
}

#container {
    background: #000000;
    position: absolute;
    /*---- IE11対応 ----*/
    /*---- 100%表示時に、描画起点-2px、Width&Heightがブラウザ外に20pxオーバーする仕様(?)の回避 ----*/
    height: calc(100% - 20px);
    left: 2px;
    top: 2px;
    width: calc(100% - 20px);
    /*---- ここまで ----*/
}

header,
#header {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
}

#lxip\:Date,
#lxip\:Time {
    color: #ffffff;
    font-size: 28px;
    font-weight: normal;
    padding-top: 4px;
}

#lxip\:Time {
    margin: 0 40px 0 20px;
}

#main {
    display: flex;
    height: calc(100% - 60px);
    width: 100%;
}

footer,
#footer {
    height: 0%;
}

.check {
    display: none;
}

.date-text {
    color: #303030;
}

.element-data-text {
    color: #303030;
    text-align: right;
}

.header-l,
.header-r {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 0 40px;
}

.header-l {
    visibility: hidden;
}

.logo {
    height: 28px;
}

.risk {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.risk-text {
    color: #ffffff;
    font-size: 2vmin;
    line-height: 1.2;
    padding-left: 2%;
    padding-right: 2%;
    white-space: normal;
}

.time-data {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    padding-right: 1.25%;
    padding-top: 0.15%;
    width: 50%;
}

.time-data-text {
    font-size: 3.25vh;
    padding-left: 0.5em;
}

@media screen and (max-width:1044px) {
    #lxip\:Date,
    #lxip\:Time,
    p {
        transform: scaleX(0.75);
    }
    #lxip\:Time {
        margin: 0;
    }
    .logo img {
        transform: scaleX(0.75);
        transform-origin: right center;
    }
}